[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = 'arul'

[packages]
Flask = "==2.2.2"
gunicorn = "==20.1.0"

[dev-packages]
tox = "*"
coverage = "*"
"flake8" = "*"
flask-testing = "*"
